.img-custom {
 width: 140px;
 height: 140px;
 margin-left: auto;
 margin-right:auto;
 text-align:center;
}
.img-main{
    width: 280px;
    height: 280px;
    float: left;
    padding: 0 0 20px 20px;
}
.img-center{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.title-text{
    color: #28EFFF;
    font-size: 60px;
}
.title-picture{
    color: #28EFFF;
    text-align: center;
}
.img-only{
    width: 500px;
    height:450px;
}